.dashboard {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 30px;
    margin-top: 5vh;
}

.dashboard-box {
    width: 340px;
    height: 330px;
    background-color: var(--supplement-background);
    border-radius: 40px;
    padding: 20px;
    overflow: scroll hidden;
    scrollbar-width: none;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
}

.dashboard-box::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.dashboard-box-heading {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
    gap: 5px;
    user-select: none;
}

.dashboard-box-heading a{
    color: var(--primary-text);
    font-weight: bold;
    font-size: 16pt;
}

.dashboard-box-heading a:visited{
    color: var(--primary-text);
}

@media (hover: hover) {
    .box-cell-heading:hover{
        text-decoration: underline;
    }
}

.box-cell {
    display: flex;
    justify-content: space-between;
}

.box-cell-heading{
    display: flex; 
    justify-content: flex-end;
    flex-wrap: wrap;
    text-align: center;
    cursor: pointer;
}

.box-cell-date{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-align: center;
}

.box-cell-sender-name{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    text-align: center;
}


.box-row {
  display: flex;
  justify-content: space-between;
}

.box-date {
  white-space: nowrap;
  margin-right: 10px;
}

.dashboard-message {
  visibility: hidden;
}

.event-description {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  text-align: right;
}

.grade {
  font-weight: bold;
}

.absence {
  font-weight: bold;
}

#prumer-znamek {
  display: flex;
  align-items: center;
  margin-left: 5px;
  font-weight: bold;
}

#today-missed-nevyhodnoceno{
    color: var(--grade-2);
}

#today-missed-omluveno{
    color: var(--grade-1);
}

#today-missed-neomluveno{
    color: var(--grade-5);
}

#today-missed-nezapocitano{
    color: var(--grade-3);
}
