.proxy-error {
    display: none;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #f38ba8;
    border-radius: 10px;
    color: black;
    text-decoration: underline;
    max-width: 270px;
}

.api-error {
    display: none;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #f38ba8;
    border-radius: 10px;
    color: black;
    text-decoration: underline;
    max-width: 330px;
}
