.content {
  display: flex;
  flex-flow: column wrap;
}

.page-info-wrapper svg {
  display: flex;
  justify-content: center;
  margin: auto;
  color: var(--text-color);
}

.page-info-wrapper {
  display: flex;
  gap: 10px;
  width: fit-content;
  flex-flow: row wrap;
  margin-top: 10px;
  margin-bottom: 10px;
}

#loading-page-info-data{
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  display: none;
}

#page-info-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: left;
  background-color: var(--supplement-background);
  border-radius: 15px;
  margin: auto;
  padding: 20px;
}

.page-info {
  font-weight: bold;
  font-size: 15pt;
}

.page-info span {
  font-weight: normal;
  font-size: 15pt;
}


@media(min-width: 600px) {
  .page-info {
    font-weight: bold;
    font-size: 18pt;
  }

  .page-info span {
    font-weight: normal;
    font-size: 18pt;
  }
}

@media(min-width: 1300px) {
  .page-info {
    font-weight: bold;
    font-size: 20pt;
  }

  .page-info span {
    font-weight: normal;
    font-size: 20pt;
  }
}

#grade-result{
  font-weight: bold;
}
