.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid var(--surface-1);
  width: 30px;
  height: 30px;
  animation: spin 1.5s ease infinite;
}

.index-loader {
  margin-top: 1em;
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  width: 20px;
  height: 20px;
  animation: spin 1.5s ease infinite;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  gap: 0.3em;
}

.loading p {
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
