.navbar li{
    list-style: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    align-items: center;
    padding: 0 24px;
    justify-content: center;
    background-color: var(--surface-0);
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4vw;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
    background-color: var(--surface-1);
}

.nav-link {
    padding: 0.6em;
    border-radius: 10px;
    color: var(--alternative-text)
}

@media(hover: hover) {
    .nav-link:hover {
        color: black;
        transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
}

.hamburger {
    display: none;
    cursor: pointer;

}

.bar {
    display: block;
    width: 35px;
    height: 4px;
    margin: 5px auto;
    transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    background-color: white;
}


@media(max-width:847px) {
    .hamburger {
        display: block;
    }
    
    .hamburger.active .bar:nth-child(1) {
        transform: rotateY(8px) rotate(45deg);
    }    
    .hamburger.active .bar:nth-child(1) {
        transform: rotateY(-8px) rotate(-45deg);
    }    

    .nav-menu {
        position: absolute;
        left: -100%;
        top: 150px;
        gap: 0;
        flex-direction: column;
        background-color: var(--primary-background);
        width: 100%;
        text-align: center;
        transition: 0.2s;
        z-index: 2;
        padding-top: 0;
        padding-bottom: 10px;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0%;
    }
    
    .navbar {
        justify-content: left;
    }
    .nav-link {
        color: var(--primary-text);
    }
}
