*{
    font-family: 'Noto Sans', 'Helvetica', sans-serif;
    font-size: 22px;
    /* font-family: sans-serif; */
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-size: 12pt;
    line-height: 1.5;
}

html, body{
    background-color: var(--primary-background);
    color: var(--primary-text);
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content{
    margin-right: 10px;
    margin-left: 10px;
}

footer{
  display: grid;
  text-align: center;
  width: 100%;
  padding-top: 30px;
  margin-top: auto;
}

.inner-footer a:visited{
    color: var(--surface-1);
}
.inner-footer a:link{
    color: var(--surface-1);
}

.inner-footer {
    display: flex;
    background-color: var(--supplement-background);
    flex-flow: row wrap;
    justify-content: center;
    padding: 10px;
}

@media(hover: hover) {
  .a-hover {
    position: relative;
    text-decoration: none;
  }

  .a-hover::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-text);
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  .a-hover:hover::before {
    transform: scaleX(1);
  }
}
