#zak-chooser {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  display: none; 
}

#zak-chooser-select {
  text-align: center;
  border: none;
  background-color: var(--supplement-background);
  color: var(--primary-text);
  border-radius: 10px;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
